body, ul, li, a, img
{margin:0px; padding:0px;}
body{text-align: center; height:100%; width:100%; position:relative; background:url(images/bg.jpg) repeat-y;}
ul{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.header{height:48px; width:100%; position:relative; text-align: center;}
.word{font-size:30px; position: absolute; left:50%; margin:10px 0 0 -60px;}
.header img{height:50px; width:100%;border:1px solid black;}
.container{width:670px; margin:auto; text-align: center;}
.main{float:left; margin:auto; padding:0 10px; width:450px; height:480px; left:30%; text-align: left; background-color: #BCEE68;}
.sidebar{float:left; margin:auto; width:200px; height:480px; background-color: #96CDCD;}
.sidebar img{height:80px; width:80px; border-radius:50%;}
.head{height:100px;width: 200px; margin-top:10px;}
.list{list-style: none; font-size: 30px;}
.list li{margin:20px auto; cursor:pointer;}
.active{background-color:#BCEE68;}
.hide{display:none;}
.show{display:block;}
.footer img{height:46px; width:100%;border:1px solid black;}